.category-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.category-buttons {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.category-buttons button {
    padding: 16px 32px;
    font-size: 1.2em;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #fff;
} 